// Project Directory

params.projectDir			= "/mnt/lustre/users/dallies/bbot"
params.referenceDir			= "/mnt/lustre/users/dallies/reference_genome/PopPatch_ref_genome/"

// Define parameters

params {
	csv						= "${params.projectDir}/samplesheet.csv"
	outdir					= "${params.projectDir}/results"
	reference_genome		= "${params.referenceDir}/sac_ref.fa"
	reference_index			= "${params.referenceDir}/sac_ref.fa.fai"
	reference_dict			= "${params.referenceDir}/sac_ref.dict"
	dbsnp					= "${params.referenceDir}/dbsnp138.vcf"
	dbsnp_index				= "${params.referenceDir}/dbsnp138.vcf.idx"
	hapmap					= "${params.referenceDir}/hapmap_3.3.hg38.vcf.gz"
	hapmap_index			= "${params.referenceDir}/hapmap_3.3.hg38.vcf.gz.tbi"
	omni					= "${params.referenceDir}/omni2.5.hg38.vcf.gz"
	omni_index				= "${params.referenceDir}/omni2.5.hg38.vcf.gz.tbi"
	mills					= "${params.referenceDir}/mills.hg38.vcf.gz"
	mills_index				= "${params.referenceDir}/mills.hg38.vcf.gz.tbi"
	bam_dir					= "${params.projectDir}/results/sorted"
	bai_dir					= "${params.projectDir}/results/sorted"
	cohort_name				= "LTBI"
    vcf_dir                 = "${projectDir}/results/haplotypecaller"
	bcftools_output			= "${projectDir}/results/bcftools_query"
}

// Define processess and load modules

process {
	queue 			= 'normal'
	queueSize 		= 10
	clusterOptions	= '-P HEAL1360'

	withName: 'FASTQC' {
		beforeScript = """
			module load chpc/BIOMODULES
			module load FastQC/0.12.1
		"""
	}

	withName: 'MULTIQC' {
		beforeScript = """
			module load chpc/BIOMODULES
			module load MultiQC/1.23
		"""
	}

	withName: 'ALIGN' {
		beforeScript = """
			module load chpc/BIOMODULES
			module load BWA/0.7.7
		"""
		memory = '38 GB'
	}

	withName: 'SAM_TO_BAM' {
		beforeScript = """
			module load chpc/BIOMODULES
			module load samtools/1.9
		"""
	}

	withName: 'SORT_BAM' {
		beforeScript = """
			module load chpc/BIOMODULES
			module load samtools/1.9
		"""
		memory = '8 GB'
	}

	withName: 'INDEX_BAM' {
		beforeScript = """
			module load chpc/BIOMODULES
			module load samtools/1.9
		"""
		memory = '8 GB'
	}

    withName: 'BQSR' {
        beforeScript = """
        module load chpc/BIOMODULES
        module load gatk/4.6.0.0
        """
    }

	withName: 'HAPLOTYPECALLER' {
		beforeScript = """
			module load chpc/BIOMODULES
			module load gatk/4.6.0.0
		"""
		memory = '8 GB'
		cpus = 5
	}

	withName: 'JOINTGENOTYPING' {
		beforeScript = """
			module load chpc/BIOMODULES
			module load gatk/4.6.0.0
		"""
		memory = '8 GB'
		cpus = 5
	}

    withName: 'VARIANT_FILTERING' {
        beforeScript = """
        module load chpc/BIOMODULES
        module load gatk/4.2.6.1
        """
    }

	withName: 'BCFTOOLS_QUERY' {
		beforeScript = """
		module load chpc/BIOMODULES
		module load bcftools/1.9
		"""
	}
}

// Define nextflow configurations

nextflow {
	enable.dsl 								= 2
	enable.configProcessNamesValidation 	= false
}

// Reporting 

report {
	enable = true
	file = "${params.projectDir}/nextflow_report/report.html"
}
